<!DOCTYPE html>
<html lang="en" ng-app='phonebookApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="phonebookCtrl as vm">
  <input type="text" placeholder="Search" ng-model="searchText">
  <div class="listings" ng-repeat="phonebook in vm.phonebook | orderBy: 'name' | filter: searchText" ng-class="{'marvelColor' : phonebook.publisher === 'Marvel', 'dcColor' : phonebook.publisher === 'DC'}">
    <p>
      {{phonebook.name}} - {{phonebook.number}} - {{phonebook.publisher}}
      <button type="button" ng-click="showme=true">Show Image</button>
      <button type="button" ng-click="showme=false">Hide Image</button>
    </p>
    <img ng-src={{phonebook.photo_url}} ng-show="showme" alt="">
  </div>
  <div>
    <input type="text" placeholder="Name" ng-model="vm.newListingName">
    <input type="text" placeholder="Number" ng-model="vm.newListingNumber">
    <input type="text" placeholder="Publisher" ng-model="vm.newListingPublisher">
    <input type="text" placeholder="Photo" ng-model="vm.newListingPhotoURL">
    <button type="button" ng-click="vm.addListing()">Add Listing</button>
  </div>
</body>
</html>
